<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>친구정보수정폼</title>
</head>
<body>
<h1>친구 등록 </h1>
<form method="post" th:action="@{/friends/edit}">
    <label for="name">이름 : </label>
    <input type="text" id="name" name="name" th:value="${friend.name}">

    <label for="email">이메일 : </label>
    <input type="text" id="email" name="email" th:value="${friend.email}"">

    <input type="hidden" name="id" th:value="${friend.id}">
    <button type="submit">친구정보수정</button>
</form>
</body>
</html>